:root {
  --green: #3d9644;
  --white: #fbfbfb;
}

.l-cooperation{
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 5px 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: -11px 0px 81px -44px rgba(0, 0, 0, 0.75);
}

.cooperation-bg{
  width: 50%;
  /* height: 100%; */
  background-image: url(../assets/img/iStock-973715182-768x512.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cooperation-bg img{
  width: 100%;
}
.cooperation-info {
  width: 50%;
  padding: 4px 20px;
}
.cooperation-info h3 {
  width: 60%;
  font-size: 32px;
  font-weight: 800;
  color: #2a2a2a;
}
.cooperation-info p{
  width: 70%;
  font-size: 18px;
  color: #2a2a2a;
}
@media screen and (max-width: 865px){
  .l-cooperation{
    flex-direction: column;
  }
  .cooperation-bg{
    width: 100%;
    height: 200px;
  }
  .cooperation-bg img{
    width: 80%;
    height: 30vh;
  }
  .cooperation-info{
    width: 100%;
  }
  .cooperation-info h3 {
    width: 50%;
    font-size: 32px;
    font-weight: 800;
    color: var(--green);
  }
  .cooperation-info p{
    width: 80%;
    padding-top: 20px;
    font-size: 18px;
    color: var(--green);
  }
}
@media screen and (max-width: 532px){
  .cooperation-info h3 {
    width: 100%;
  }
}