:root {
  --green: #3d9644;
  --white: #fbfbfb;
}
.footer__link{
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__link li{
  margin: 0 10px;
  line-height: 30px;

}
.footer__link li a{
  transition: all 0.3s ease;
}
.footer__link li a:hover{
  border-bottom: 1px solid var(--green);
  color: var(--green);
}

.footer-info{
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info p{
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
  color: rgb(232, 229, 229);
  font-size: 8px;
}
.footer-info p a{
    font-size: 8px;
}
/*  */
@media screen and (max-width: 865px){
  .footer__link{
    width: 100%;
    flex-direction: column;

    padding: 10px 0 20px;
  }
  .footer__link li{
    text-align: center;
  }
  .footer-info p{
    max-width: 500px;
  }
}