:root {
  --green: #3d9644;
  --white: #fbfbfb;
}
.legal__doc{
  max-width: 1200px;
  
  margin: 100px auto 0;
  padding: 0 5px;
}
.legal__doc h2{
  font-size: 32px;
  font-weight: bold;
  color: #2a2a2a;

}

.legal__doc ul{
  /* text-align: center;   */

}
.legal__doc ul li{
  color: #2a2a2a;
}