:root {
  --green: #3d9644;
  --white: #fbfbfb;
}
.qa {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;

}
.qa-info{
  padding-bottom: 40px;
}
.qa-info h2{
  font-size: 36px;
  text-align: center;
  color: #2a2a2a
}

.qa-info p{
  font-size: 24px;
  text-align: center;
  color: #2a2a2a;
}
.qa-info p a{
  font-size: 24px;
  color: var(--green);
}

.accordion-container {
  width: 80%;
  margin: 0 auto;
  background-color: #d8f3da;

}

.accordion {
  background-color: #719b74;
  color: #fff;
  cursor: pointer;
  padding: 16px;
  /* width: 50%; */
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.5s;
}

.active,
.accordion:hover {
  background-color: var(--green);
}

.accordion:after {
  content: "\002B";
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  /* width: 80%; */
  margin: 0 auto;
  padding: 0 18px;
  color: #212121;
  background-color: #d8f3da;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
